NoteEvery_Server/WebRoot/WEB-INF/wsdl/NoteServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.handsome.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NoteServiceService" targetNamespace="http://service.handsome.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.handsome.com/" schemaLocation="NoteServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listNoteByUid">
    <part element="tns:listNoteByUid" name="parameters"/>
  </message>
  <message name="listNoteByUidResponse">
    <part element="tns:listNoteByUidResponse" name="parameters"/>
  </message>
  <message name="addNote">
    <part element="tns:addNote" name="parameters"/>
  </message>
  <message name="addNoteResponse">
    <part element="tns:addNoteResponse" name="parameters"/>
  </message>
  <message name="deleteBook">
    <part element="tns:deleteBook" name="parameters"/>
  </message>
  <message name="deleteBookResponse">
    <part element="tns:deleteBookResponse" name="parameters"/>
  </message>
  <message name="updateBook">
    <part element="tns:updateBook" name="parameters"/>
  </message>
  <message name="updateBookResponse">
    <part element="tns:updateBookResponse" name="parameters"/>
  </message>
  <message name="findNoteByNid">
    <part element="tns:findNoteByNid" name="parameters"/>
  </message>
  <message name="findNoteByNidResponse">
    <part element="tns:findNoteByNidResponse" name="parameters"/>
  </message>
  <portType name="NoteServiceDelegate">
    <operation name="listNoteByUid">
      <input message="tns:listNoteByUid"/>
      <output message="tns:listNoteByUidResponse"/>
    </operation>
    <operation name="addNote">
      <input message="tns:addNote"/>
      <output message="tns:addNoteResponse"/>
    </operation>
    <operation name="deleteBook">
      <input message="tns:deleteBook"/>
      <output message="tns:deleteBookResponse"/>
    </operation>
    <operation name="updateBook">
      <input message="tns:updateBook"/>
      <output message="tns:updateBookResponse"/>
    </operation>
    <operation name="findNoteByNid">
      <input message="tns:findNoteByNid"/>
      <output message="tns:findNoteByNidResponse"/>
    </operation>
  </portType>
  <binding name="NoteServicePortBinding" type="tns:NoteServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="listNoteByUid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addNote">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findNoteByNid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NoteServiceService">
    <port binding="tns:NoteServicePortBinding" name="NoteServicePort">
      <soap:address location="http://localhost:8080/NoteEvery/NoteServicePort"/>
    </port>
  </service>
</definitions>
